body {
	background-color:#33cccc;
}

.container {
	background-color: white;
	padding: 10px;
	border-radius: 15px;
}

h1 {
	text-align: right;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 50px;
	color: #000066;
}

h2 {
	margin: 0px;
	text-align: right;
	font-family: helvetica;
	font-size: 20px;
	color: #000066;
}

h3 {
	text-align: left;
	font-family: helvetica;
	font-size: 30px;
	color: #33cccc;
}

hr {
	border-color: #33cccc;
	border-width: 3px;
}

.logo {
	border-radius: 25px;
	max-height: 100px;
}

.banner {
	border-radius: 25px;
}

.margin-top {
	margin-top: 10px;
}

.project {
	border-radius: 25px;
}

.caption {
	margin: 5px 0px 0px 0px;
	text-align: center;
	font-family: helvetica;
	font-style: italic;
	font-weight: bold;
	color: #000066;
}

.link {
	margin: 0px;
	text-align: center;
	font-family: helvetica;
	font-style: italic;
	color: #000066;
}

.footer {
	text-align: center;
	font-size: 10px;
}

.hrfoot {
	border-color: #33cccc;
	border-width: 1px;
}